.env

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/dist
/public/coat-of-arms/*
!/public/coat-of-arms/.gitkeep
/public/municipality-coats/*
!/public/municipality-coats/.gitkeep
/public/gemeindeordnungen/*
!/public/gemeindeordnungen/.gitkeep
